.example-card {
    max-width: 800px;
    display: block;
    margin: 0 auto;

}

.example-header-image {
    background-image: url('https://gravatar.com/avatar/f26138a8bc784abd15f082239598eb7b?s=400&d=robohash&r=x');
    background-size: cover;
}